---
import Navbar from "../components/Navbar.astro";
import SectionAbout from "../components/SectionAbout.astro";
import SectionIntro from "../components/SectionIntro.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Joseph Choi">
  <main class="h-full w-full">
    <Navbar />
    <SectionIntro />
    <SectionAbout />
  </main>
</Layout>

<style></style>
